<% genre_image_path = "genres/genre_#{@genre.title.parameterize}.jpg" %>
<% full_image_path = if asset_exists?(genre_image_path)
                        asset_path(genre_image_path)
                      else
                        "https://templates.iqonic.design/streamit/html/frontend/assets/images/pages/01.webp"
                      end %>
<div class="iq-breadcrumb special-page" style="background-image: url(<%= full_image_path %>);">
  <div class="container-fluid">
    <div class="row align-items-center">
      <div class="col-sm-12">
        <nav aria-label="breadcrumb" class="text-center">
          <h2 class="title" style="text-shadow:
              0.07em 0 black,
              0 0.07em black,
              -0.07em 0 black,
              0 -0.07em black;"><%= @genre.title %></h2>
          <p class="description normal-description" style="font-weight: bold; text-shadow:
              0.07em 0 black,
              0 0.07em black,
              -0.07em 0 black,
              0 -0.07em black;"><%= @genre.description %><br></p>
          <ol class="breadcrumb justify-content-center">
            <li class="breadcrumb-item"><%= link_to "Genres", genres_path %></li>
            <li class="breadcrumb-item active"><%= @genre.title %></li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row row-cols-1 row-cols-md-6 g-3 justify-content-center">
    <% @films.each do |film| %>
      <div class="col">
        <%= link_to film_path(film), class: "link-light" do %>
          <div class="card shadow-sm d-flex flex-column h-100">
            <% if File.exist?("app/assets/images/films/#{film.title}.jpg") %>
              <%= image_tag("films/#{film.title}.jpg", alt: "film-img", class: "img-fluid object-cover w-100 h-100 rounded") %>
            <% else %>
              <div class="placeholder" style="background-color: #55595c; width: 100%; height: 250px;"></div>
            <% end %>

            <div class="card-body">
              <p class="card-text text-center h5"><%= film.title %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
