<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" dir="ltr" style="--header-height: 54px;">
<head>
  <!-- Custom Css -->
  <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/css/custom.min.css?v=5.1.0">

  <!-- Rtl Css -->
  <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/css/rtl.min.css?v=5.1.0">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&amp;display=swap" rel="stylesheet">
</head>

<body class="  ">
<span class="screen-darken"></span>
<div class="loader simple-loader animate__animated animate__fadeOut d-none">
  <div class="loader-body">
    <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/loader.gif" alt="loader" class="img-fluid " width="300">
  </div>
</div>

<main class="main-content">
  <!--bread-crumb-->

  <div class="iq-banner-thumb-slider">
    <div class="slider">
      <div class="position-relative slider-bg d-flex justify-content-end">
        <div class="position-relative my-auto">
          <div class="horizontal_thumb_slider" data-swiper="slider-thumbs-ott">
            <div class="banner-thumb-slider-nav">
              <div class="swiper-container swiper-initialized swiper-horizontal swiper-pointer-events" data-swiper="slider-thumbs-inner-ott">
                <div class="swiper-wrapper" id="swiper-wrapper-413655280b45ad56" aria-live="off" style="transform: translate3d(-1492.5px, 0px, 0px); transition-duration: 0ms;">
                  <% @top_rated_films.each do |film| %>
                    <div class="swiper-slide swiper-bg" role="group" style="width: 274.5px; margin-right: 24px;">
                      <div class="block-images position-relative ">
                        <div class="img-box">
                          <%= image_tag("films/#{film.title}.jpg", class: "img-fluid", loading: "lazy") %>
                          <div class="block-description">
                            <h6 class="iq-title fw-500 mb-0"><%= t("films.#{film.title}") %></h6>
                            <span class="fs-12"><%= format_duration(film.duration) %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
              <div class="slider-prev swiper-button" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-413655280b45ad56">
                <i class="" style="font-size: 25px"><</i>
              </div>
              <div class="slider-next swiper-button" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-413655280b45ad56">
                <i class="" style="font-size: 25px">></i>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-images" data-swiper="slider-images-ott">
          <div class="swiper-container swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events" data-swiper="slider-images-inner-ott">
            <div class="swiper-wrapper m-0" id="swiper-wrapper-ac0dcb914ea1f599" aria-live="polite" style="transition-duration: 0ms;">
              <% @top_rated_films.each do |film| %>
                <div class="swiper-slide p-0" role="group" style="width: 958px; opacity: 1; transform: translate3d(-2874px, 0px, 0px); transition-duration: 0ms;">
                  <div class="slider--image block-images object-contain">
                      <%= image_tag("films/#{film.title}.jpg", loading: "lazy") %>
                  </div>
                  <div class="description">
                    <div class="row align-items-center h-100">
                      <div class="col-lg-6 col-md-12">
                        <div class="slider-content">
                          <div class="d-flex align-items-center RightAnimate mb-3">
                            <span class="badge rounded-0 text-dark text-uppercase px-3 py-2 me-3 bg-white mr-3"><%= film.maturity_rating.title %></span>
                            <ul class="p-0 mb-0 list-inline d-flex flex-wrap align-items-center movie-tag">
                              <% film.genres.each do |genre| %>
                                <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                  <%= link_to t("genres.#{genre.title}"), genre_path(genre), class: "text-decoration-none" %>
                                </li>
                              <% end %>
                            </ul>
                          </div>
                          <h1 class="texture-text big-font letter-spacing-1 line-count-1 text-capitalize RightAnimate-two">
                            <%= t("films.#{film.title}") %></h1>
                          <p class="line-count-3 RightAnimate-two" style="font-weight:bold;text-shadow:
                            0.07em 0 black,
                              0 0.07em black,
                              -0.07em 0 black,
                              0 -0.07em black;"><%= t("descriptions.films.#{film.title}") %></p>
                          <div class="d-flex flex-wrap align-items-center gap-3 RightAnimate-three">
                            <div class="slider-ratting d-flex align-items-center">
                            </div>
                            <span class="star">&#9733;</span>
                            <span class="text-white ms-2 fw-500" style="font-size: 32px;margin-left: -10px"><%= film.average_rating %>/5</span>
                            <span style="font-size: 28px;text-shadow:
                              0.07em 0 black,
                                0 0.07em black,
                                -0.07em 0 black,
                                0 -0.07em black;"><%= "#{format_duration(film.duration)}" %></span>
                          </div>
                        </div>
                        <div class="RightAnimate-four">
                          <div class="iq-button">
                            <%= link_to t("buttons.Watch_now"), film_path(film), class: "btn text-uppercase position-relative button-text"%>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="top-ten-block mt-5">
    <div class="container-fluid">
      <section class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-md-3 px-1 mb-4">
          <h2 class="main-title text-capitalize mb-0 mt-3" style="margin-left: auto;margin-right: auto">
            <%= t("heading.top_ten") %></h2>
        </div>
        <div class="position-relative swiper swiper-card iq-top-ten-block-slider swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="6" data-laptop="6" data-tab="3" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper mb-5 list-inline" id="swiper-wrapper-89f6aa5889fa2af7" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
            <% @top_ten.each_with_index do |film, index|%>
              <li class="swiper-slide" role="group" style="width: 318.667px;">
                <div class="iq-top-ten-block">
                  <div class="block-image position-relative">
                    <div class="img-box">
                      <%= link_to image_tag("films/#{film.title}.jpg", height: "330"), film_path(film) %>
                      <span class="top-ten-numbers texture-text"><%= index+1 %></span>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
          </ul>
          <div class="swiper-button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-89f6aa5889fa2af7" aria-disabled="false"></div>
          <div class="swiper-button swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-89f6aa5889fa2af7" aria-disabled="true"></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </section>
    </div>
  </div>

  <div class="favourite-person-block">
    <div class="container-fluid">
      <section class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-md-3 px-1 my-4">
          <h3 class="main-title text-capitalize mb-0" style="margin-left: auto;margin-right: auto"><%= t("heading.Find_cast") %></h3>
        </div>
        <div class="position-relative swiper swiper-card swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="10" data-laptop="10" data-tab="4" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline personality-card" id="swiper-wrapper-28b198b47109ea816" aria-live="polite" style="transform: translate3d(-926px, 0px, 0px); transition-duration: 0ms;">
            <% @casts.each do |cast|%>
              <li class="swiper-slide swiper-active swiper-slide-active" role="group" style="width: 231.5px;">
              <%= image_tag("cast/#{cast.first_name} #{cast.last_name}.jpg", class: 'img-fit object-fit mb-4 rounded', height: "200") %>
              <div class="text-center">
                <h6 class="mb-0">
                  <%= link_to "#{t("casts.first_name.#{cast.first_name}")} #{t("casts.last_name.#{cast.last_name}")}", cast_path(cast), class: "font-size-14 text-decoration-none cast-title text-capitalize" %>
                </h6>
                <%= link_to t("roles.#{cast.role.title}"), cast_path(cast), class: "font-size-14 text-decoration-none text-capitalize text-body" %>
              </div>
              </li>
            <% end %>
          </ul>
          <div class="swiper-button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-28b198b47109ea816"></div>
          <div class="swiper-button swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-28b198b47109ea816"></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </section>
    </div>
  </div>

  <h3 class="mb-5" style="text-align: center"><%= t("heading.Choose_films") %></h3>
  <% @genres.each do |genre| %>
    <div class="genre-block mt-0">
      <div class="container-fluid">
        <section class="overflow-hidden">
          <div class="d-flex align-items-center justify-content-between px-md-3 px-1 mb-4">
            <h4 class="main-title text-capitalize mb-0"><%= t("genres.#{genre.title}") %></h4>
            <%= link_to t("buttons.View_all"), genre_path(genre), class: "text-primary iq-view-all text-decoration-none flex-none"%>
          </div>
          <div class="position-relative swiper swiper-card iq-top-ten-block-slider swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="6" data-laptop="6" data-tab="3" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
            <ul class="p-0 swiper-wrapper mb-5 list-inline" id="swiper-wrapper-89f6aa5889fa2af7" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
              <% genre.films.each do |film|%>
                <li class="swiper-slide" role="group" style="width: 318.667px;">
                  <div class="iq-top-ten-block">
                    <div class="block-image position-relative">
                      <div class="img-box">
                        <%= link_to image_tag("films/#{film.title}.jpg", height: "330"), film_path(film) %>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
            <div class="swiper-button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-89f6aa5889fa2af7" aria-disabled="false"></div>
            <div class="swiper-button swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-89f6aa5889fa2af7" aria-disabled="true"></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </section>
      </div>
    </div>
  <% end %>

</main>

<!-- SwiperSlider Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/swiperSlider/swiper.min.js" type="text/javascript"></script>

<!-- Lodash Utility -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/lodash/lodash.min.js" type="text/javascript"></script>
<!-- External Library Bundle Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/core/external.min.js" type="text/javascript"></script>
<!-- countdown Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/plugins/countdown.js" type="text/javascript"></script>
<!-- utility Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/utility.js" type="text/javascript"></script>
<!-- Setting Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting.js" type="text/javascript"></script>
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting-init.js" defer="" type="text/javascript"></script>
<!-- Streamit Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/streamit.js" defer="" type="text/javascript"></script>
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/swiper.js" defer="" type="text/javascript"></script>

</body>
</html>
