<!DOCTYPE html>
<html lang="en" data-bs-theme="dark" dir="ltr" style="--header-height: 54px;">
<head>
  <!-- Custom Css -->
  <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/css/custom.min.css?v=5.1.0">

  <!-- Rtl Css -->
  <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/css/rtl.min.css?v=5.1.0">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&amp;display=swap" rel="stylesheet">
</head>

<body class="  ">
<span class="screen-darken"></span>
<div class="loader simple-loader animate__animated animate__fadeOut d-none">
  <div class="loader-body">
    <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/loader.gif" alt="loader" class="img-fluid " width="300">
  </div>
</div>

<main class="main-content">
  <!--bread-crumb-->

  <div class="iq-banner-thumb-slider">
    <div class="slider">
      <div class="position-relative slider-bg d-flex justify-content-end">
        <div class="position-relative my-auto">
          <div class="horizontal_thumb_slider" data-swiper="slider-thumbs-ott">
            <div class="banner-thumb-slider-nav">
              <div class="swiper-container swiper-initialized swiper-horizontal swiper-pointer-events" data-swiper="slider-thumbs-inner-ott">
                <div class="swiper-wrapper" id="swiper-wrapper-413655280b45ad56" aria-live="off" style="transform: translate3d(-1492.5px, 0px, 0px); transition-duration: 0ms;">
                  <% @top_rated_films.each do |film| %>
                    <div class="swiper-slide swiper-bg" role="group" style="width: 274.5px; margin-right: 24px;">
                      <div class="block-images position-relative ">
                        <div class="img-box">
                          <%= image_tag("films/#{film.title}.jpg", class: "img-fluid", loading: "lazy") %>
                          <div class="block-description">
                            <h6 class="iq-title fw-500 mb-0"><%= film.title%></h6>
                            <span class="fs-12"><%= format_duration(film.duration) %></span>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
                  <!--from template-->
<!--                  <div class="swiper-slide swiper-bg swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 274.5px; margin-right: 24px;">-->
<!--                    <div class="block-images position-relative ">-->
<!--                      <div class="img-box">-->
<!--                        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/ott1.webp" class="img-fluid" alt="" loading="lazy">-->
<!--                        <div class="block-description">-->
<!--                          <h6 class="iq-title fw-500 mb-0">The Hunter</h6>-->
<!--                          <span class="fs-12">2hr 6 minute</span>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="swiper-slide swiper-bg swiper-slide-prev" data-swiper-slide-index="1" role="group" aria-label="2 / 3" style="width: 274.5px; margin-right: 24px;">-->
<!--                    <div class="block-images position-relative ">-->
<!--                      <div class="img-box">-->
<!--                        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/ott2.webp" class="img-fluid" alt="" loading="lazy">-->
<!--                        <div class="block-description">-->
<!--                          <h6 class="iq-title fw-500 mb-0">The Mandalorian</h6>-->
<!--                          <span class="fs-12">2hr 14 minute</span>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                  <div class="swiper-slide swiper-bg swiper-slide-active" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="width: 274.5px; margin-right: 24px;">-->
<!--                    <div class="block-images position-relative ">-->
<!--                      <div class="img-box">-->
<!--                        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/ott3.webp" class="img-fluid" alt="" loading="lazy">-->
<!--                        <div class="block-description">-->
<!--                          <h6 class="iq-title fw-500 mb-0">Better call saul</h6>-->
<!--                          <span class="fs-12">2hr 55 minute</span>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
                  <!--from template-->
                  </div>
                <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
              <div class="slider-prev swiper-button" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-413655280b45ad56">
                <i class="" style="font-size: 25px"><</i>
              </div>
              <div class="slider-next swiper-button" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-413655280b45ad56">
                <i class="" style="font-size: 25px">></i>
              </div>
            </div>
          </div>
        </div>
        <div class="slider-images" data-swiper="slider-images-ott">
          <div class="swiper-container swiper-fade swiper-initialized swiper-horizontal swiper-pointer-events" data-swiper="slider-images-inner-ott">
            <div class="swiper-wrapper m-0" id="swiper-wrapper-ac0dcb914ea1f599" aria-live="polite" style="transition-duration: 0ms;">
              <% @top_rated_films.each do |film| %>
                <div class="swiper-slide p-0" role="group" style="width: 958px; opacity: 1; transform: translate3d(-2874px, 0px, 0px); transition-duration: 0ms;">
                  <div class="slider--image block-images object-contain">
                      <%= image_tag("films/#{film.title}.jpg", loading: "lazy") %>
                  </div>
                  <div class="description">
                    <div class="row align-items-center h-100">
                      <div class="col-lg-6 col-md-12">
                        <div class="slider-content">
                          <div class="d-flex align-items-center RightAnimate mb-3">
                            <span class="badge rounded-0 text-dark text-uppercase px-3 py-2 me-3 bg-white mr-3"><%= film.maturity_rating.title %></span>
                            <ul class="p-0 mb-0 list-inline d-flex flex-wrap align-items-center movie-tag">
                              <% film.genres.each do |genre| %>
                                <li class="position-relative text-capitalize font-size-14 letter-spacing-1">
                                  <%= link_to genre.title, genre_path(genre), class: "text-decoration-none" %>
                                </li>
                              <% end %>
                            </ul>
                          </div>
                          <h1 class="texture-text big-font letter-spacing-1 line-count-1 text-capitalize RightAnimate-two">
                            <%= film.title %> </h1>
                          <p class="line-count-3 RightAnimate-two" style="font-weight:bold;text-shadow:
                            0.07em 0 black,
                              0 0.07em black,
                              -0.07em 0 black,
                              0 -0.07em black;"><%= film.description %>.</p>
                          <div class="d-flex flex-wrap align-items-center gap-3 RightAnimate-three">
                            <div class="slider-ratting d-flex align-items-center">
<!--                              <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">-->
<!--                                <li>-->
<!--                                  <i class="fa fa-star" aria-hidden="true"></i>-->
<!--                                </li>-->
<!--                              </ul>-->
                            </div>
                            <span class="star">&#9733;</span>
                            <span class="text-white ms-2 fw-500" style="font-size: 32px;margin-left: -10px"><%= film.average_rating %>/5</span>
                            <span style="font-size: 28px;text-shadow:
                              0.07em 0 black,
                                0 0.07em black,
                                -0.07em 0 black,
                                0 -0.07em black;"><%= "#{format_duration(film.duration)}" %></span>
                          </div>
                        </div>
                        <div class="RightAnimate-four">
                          <div class="iq-button">
                            <%= link_to "Watch now", film_path(film), class: "btn text-uppercase position-relative button-text"%>
<!--                            <i class="fa-solid fa-play"></i>-->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <!--from template-->
<!--              <div class="swiper-slide p-0 swiper-slide-duplicate-next" data-swiper-slide-index="0" role="group" aria-label="1 / 3" style="width: 958px; opacity: 1; transform: translate3d(-2874px, 0px, 0px); transition-duration: 0ms;">-->
<!--                <div class="slider--image block-images">-->
<!--                  <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/ott1.webp" loading="lazy" alt="banner">-->
<!--                </div>-->
<!--                <div class="description">-->
<!--                  <div class="row align-items-center h-100">-->
<!--                    <div class="col-lg-6 col-md-12">-->
<!--                      <div class="slider-content">-->
<!--                        <div class="d-flex align-items-center RightAnimate mb-3">-->
<!--                          <span class="badge rounded-0 text-dark text-uppercase px-3 py-2 me-3 bg-white mr-3">Pg</span>-->
<!--                          <ul class="p-0 mb-0 list-inline d-flex flex-wrap align-items-center movie-tag">-->
<!--                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">-->
<!--                              <a href="view-all-movie.html" class="text-decoration-none">Adventure</a>-->
<!--                            </li>-->
<!--                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">-->
<!--                              <a href="view-all-movie.html" class="text-decoration-none">Thriller</a>-->
<!--                            </li>-->
<!--                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">-->
<!--                              <a href="view-all-movie.html" class="text-decoration-none">Drama</a>-->
<!--                            </li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                        <h1 class="texture-text big-font letter-spacing-1 line-count-1 text-capitalize RightAnimate-two">-->
<!--                          The Hunter </h1>-->
<!--                        <p class="line-count-3 RightAnimate-two">After the death of their father, two siblings-->
<!--                          fight for the throne, thereby causing a civil war known as the Dance of the Dragons.-->
<!--                          Rhaenyra tries to hold the realm together as the tension rises following a tragic-->
<!--                          loss. Meanwhile, Daemon prepares for war.</p>-->
<!--                        <div class="d-flex flex-wrap align-items-center gap-3 RightAnimate-three">-->
<!--                          <div class="slider-ratting d-flex align-items-center">-->
<!--                            <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">-->
<!--                              <li>-->
<!--                                <i class="bi bi-star-fill" aria-hidden="true"></i>-->
<!--                              </li>-->
<!--                            </ul>-->
<!--                            <span class="text-white ms-2 font-size-14 fw-500">4.3/5</span>-->
<!--                            <span class="ms-2">-->
<!--                                          <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/imdb-logo.svg" alt="imdb logo" class="img-fluid">-->
<!--                                       </span>-->
<!--                          </div>-->
<!--                          <span class="font-size-14 fw-500">2hr 6mins</span>-->
<!--                          <div class="text-primary font-size-14 fw-500 text-capitalize">genres <a href="view-all-movie.html" class="text-decoration-none ms-1">Drama</a>-->
<!--                          </div>-->
<!--                          <div class="text-primary font-size-14 fw-500 text-capitalize">Starting <a href="person-detail.html" class="text-decoration-none ms-1">Jeffrey Silver</a>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="RightAnimate-four">-->
<!--                        <div class="iq-button">-->
<!--                          <a href="movie-detail.html" class="btn text-uppercase position-relative">-->
<!--                            <span class="button-text">stream now</span>-->
<!--                            <i class="bi bi-play-fill"></i>-->
<!--                          </a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="swiper-slide p-0 swiper-slide-prev" data-swiper-slide-index="1" role="group" aria-label="2 / 3" style="width: 958px; opacity: 1; transform: translate3d(-3832px, 0px, 0px); transition-duration: 0ms;">-->
<!--                <div class="slider--image block-images">-->
<!--                  <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/ott2.webp" loading="lazy" alt="">-->
<!--                </div>-->
<!--                <div class="description">-->
<!--                  <div class="row align-items-center h-100">-->
<!--                    <div class="col-lg-6 col-md-12">-->
<!--                      <div class="slider-content">-->
<!--                        <div class="d-flex align-items-center RightAnimate mb-3">-->
<!--                          <span class="badge rounded-0 text-dark text-uppercase px-3 py-2 me-3 bg-white mr-3">NC-17</span>-->
<!--                          <ul class="p-0 mb-0 list-inline d-flex flex-wrap align-items-center movie-tag">-->
<!--                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">-->
<!--                              <a href="view-all-movie.html" class="text-decoration-none">Animation</a>-->
<!--                            </li>-->
<!--                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">-->
<!--                              <a href="view-all-movie.html" class="text-decoration-none">Sci-Fi</a>-->
<!--                            </li>-->
<!--                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">-->
<!--                              <a href="view-all-movie.html" class="text-decoration-none">Action</a>-->
<!--                            </li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                        <h1 class="texture-text big-font letter-spacing-1 line-count-1 text-capitalize RightAnimate-two">-->
<!--                          The Mandalorian </h1>-->
<!--                        <p class="line-count-3 RightAnimate-two">After the fall of the Galactic Empire, a lone-->
<!--                          gunfighter makes his way through the outer reaches of the lawless galaxy he show-->
<!--                          follows the adventures of a lone Mandalorian bounty hunter, Din Djarin, as he-->
<!--                          navigates the outer reaches of the galaxy, far from the authority of the New-->
<!--                          Republic.</p>-->
<!--                        <div class="d-flex flex-wrap align-items-center gap-3 RightAnimate-three">-->
<!--                          <div class="slider-ratting d-flex align-items-center">-->
<!--                            <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">-->
<!--                              <li>-->
<!--                                <i class="bi bi-star-fill" aria-hidden="true"></i>-->
<!--                              </li>-->
<!--                            </ul>-->
<!--                            <span class="text-white ms-2 font-size-14 fw-500">4.3/5</span>-->
<!--                          </div>-->
<!--                          <span class="font-size-14 fw-500">2hr 14mins</span>-->
<!--                          <div class="text-primary font-size-14 fw-500 text-capitalize">genres <a href="view-all-movie.html" class="text-decoration-none ms-1">Sci-Fi</a>-->
<!--                          </div>-->
<!--                          <div class="text-primary font-size-14 fw-500 text-capitalize">Starting-->
<!--                            <a href="person-detail.html" class="text-decoration-none ms-1">James Chinlund</a>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="RightAnimate-four">-->
<!--                        <div class="iq-button">-->
<!--                          <a href="movie-detail.html" class="btn text-uppercase position-relative">-->
<!--                            <span class="button-text">stream now</span>-->
<!--                            <i class="bi bi-play-fill"></i>-->
<!--                          </a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="swiper-slide p-0 swiper-slide-visible swiper-slide-active" data-swiper-slide-index="2" role="group" aria-label="3 / 3" style="width: 958px; opacity: 1; transform: translate3d(-4790px, 0px, 0px); transition-duration: 0ms;">-->
<!--                <div class="slider--image block-images">-->
<!--                  <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/movies/ott3.webp" loading="lazy" alt="">-->
<!--                </div>-->
<!--                <div class="description">-->
<!--                  <div class="row align-items-center h-100">-->
<!--                    <div class="col-lg-6 col-md-12">-->
<!--                      <div class="slider-content">-->
<!--                        <div class="d-flex align-items-center RightAnimate mb-3">-->
<!--                          <span class="badge rounded-0 text-dark text-uppercase px-3 py-2 me-3 bg-white mr-3">G</span>-->
<!--                          <ul class="p-0 mb-0 list-inline d-flex flex-wrap align-items-center movie-tag">-->
<!--                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">-->
<!--                              <a href="view-all-movie.html" class="text-decoration-none">History</a>-->
<!--                            </li>-->
<!--                            <li class="position-relative text-capitalize font-size-14 letter-spacing-1">-->
<!--                              <a href="view-all-movie.html" class="text-decoration-none">Action</a>-->
<!--                            </li>-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                        <h1 class="texture-text big-font letter-spacing-1 line-count-1 text-capitalize RightAnimate-two">-->
<!--                          Better call saul </h1>-->
<!--                        <p class="line-count-3 RightAnimate-two">Ex-con artist Jimmy McGill turns into a-->
<!--                          small-time attorney and goes through a series of trials and tragedies, as he-->
<!--                          transforms into his alter ego Saul Goodman, a morally challenged criminal lawyer.-->
<!--                        </p>-->
<!--                        <div class="d-flex flex-wrap align-items-center gap-3 RightAnimate-three">-->
<!--                          <div class="slider-ratting d-flex align-items-center">-->
<!--                            <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">-->
<!--                              <li>-->
<!--                                <i class="bi bi-star-fill" aria-hidden="true"></i>-->
<!--                              </li>-->
<!--                            </ul>-->
<!--                          </div>-->
<!--                          <span class="font-size-14 fw-500">2hr 55mins</span>-->
<!--                          <div class="text-primary font-size-14 fw-500 text-capitalize">genres <a href="view-all-movie.html" class="text-decoration-none ms-1">horror</a>-->
<!--                          </div>-->
<!--                          <div class="text-primary font-size-14 fw-500 text-capitalize">Starting <a href="#" class="text-decoration-none ms-1">Brenda Chapman</a>-->
<!--                            <span class="text-body">,</span>-->
<!--                            <a href="person-detail.html" class="text-decoration-none ms-1">Caleb-->
<!--                              Deschannelr</a>-->
<!--                          </div>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                      <div class="RightAnimate-four">-->
<!--                        <div class="iq-button">-->
<!--                          <a href="movie-detail.html" class="btn text-uppercase position-relative">-->
<!--                            <span class="button-text">stream now</span>-->
<!--                            <i class="bi bi-play-fill"></i>-->
<!--                          </a>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
              <!--from template-->
              </div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
      </div>
    </div>
  </div>

  <div class="top-ten-block mt-5">
    <div class="container-fluid">
      <section class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-md-3 px-1 mb-4">
          <h2 class="main-title text-capitalize mb-0 mt-3" style="margin-left: auto;margin-right: auto">
            top ten movies to watch</h2>
        </div>
        <div class="position-relative swiper swiper-card iq-top-ten-block-slider swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="6" data-laptop="6" data-tab="3" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper mb-5 list-inline" id="swiper-wrapper-89f6aa5889fa2af7" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
            <% @top_ten.each_with_index do |film, index|%>
              <li class="swiper-slide" role="group" style="width: 318.667px;">
                <div class="iq-top-ten-block">
                  <div class="block-image position-relative">
                    <div class="img-box">
                      <%= link_to image_tag("films/#{film.title}.jpg", height: "330"), film_path(film) %>
                      <span class="top-ten-numbers texture-text"><%= index+1 %></span>
                    </div>
                  </div>
                </div>
              </li>
            <% end %>
            <!--from template-->
<!--            <li class="swiper-slide swiper-active swiper-slide-active" role="group" aria-label="1 / 10" style="width: 318.667px;">-->
<!--              <div class="iq-top-ten-block">-->
<!--                <div class="block-image position-relative">-->
<!--                  <div class="img-box">-->
<!--                    <a class="overly-images" href="./movie-detail.html">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/01.webp" alt="movie-card" class="img-fluid object-cover">-->
<!--                    </a>-->
<!--                    <span class="top-ten-numbers texture-text">1</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="swiper-slide swiper-active swiper-slide-next" role="group" aria-label="2 / 10" style="width: 318.667px;">-->
<!--              <div class="iq-top-ten-block">-->
<!--                <div class="block-image position-relative">-->
<!--                  <div class="img-box">-->
<!--                    <a class="overly-images" href="./movie-detail.html">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/02.webp" alt="movie-card" class="img-fluid object-cover">-->
<!--                    </a>-->
<!--                    <span class="top-ten-numbers texture-text">2</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="swiper-slide swiper-active" role="group" aria-label="3 / 10" style="width: 318.667px;">-->
<!--              <div class="iq-top-ten-block">-->
<!--                <div class="block-image position-relative">-->
<!--                  <div class="img-box">-->
<!--                    <a class="overly-images" href="./movie-detail.html">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/03.webp" alt="movie-card" class="img-fluid object-cover">-->
<!--                    </a>-->
<!--                    <span class="top-ten-numbers texture-text">3</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="swiper-slide swiper-active" role="group" aria-label="4 / 10" style="width: 318.667px;">-->
<!--              <div class="iq-top-ten-block">-->
<!--                <div class="block-image position-relative">-->
<!--                  <div class="img-box">-->
<!--                    <a class="overly-images" href="./movie-detail.html">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/04.webp" alt="movie-card" class="img-fluid object-cover">-->
<!--                    </a>-->
<!--                    <span class="top-ten-numbers texture-text">4</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="swiper-slide swiper-active last" role="group" aria-label="5 / 10" style="width: 318.667px;">-->
<!--              <div class="iq-top-ten-block">-->
<!--                <div class="block-image position-relative">-->
<!--                  <div class="img-box">-->
<!--                    <a class="overly-images" href="./movie-detail.html">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/05.webp" alt="movie-card" class="img-fluid object-cover">-->
<!--                    </a>-->
<!--                    <span class="top-ten-numbers texture-text">5</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="swiper-slide" role="group" aria-label="6 / 10" style="width: 318.667px;">-->
<!--              <div class="iq-top-ten-block">-->
<!--                <div class="block-image position-relative">-->
<!--                  <div class="img-box">-->
<!--                    <a class="overly-images" href="./movie-detail.html">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/06.webp" alt="movie-card" class="img-fluid object-cover">-->
<!--                    </a>-->
<!--                    <span class="top-ten-numbers texture-text">6</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="swiper-slide" role="group" aria-label="7 / 10" style="width: 318.667px;">-->
<!--              <div class="iq-top-ten-block">-->
<!--                <div class="block-image position-relative">-->
<!--                  <div class="img-box">-->
<!--                    <a class="overly-images" href="./movie-detail.html">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/07.webp" alt="movie-card" class="img-fluid object-cover">-->
<!--                    </a>-->
<!--                    <span class="top-ten-numbers texture-text">7</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="swiper-slide" role="group" aria-label="8 / 10" style="width: 318.667px;">-->
<!--              <div class="iq-top-ten-block">-->
<!--                <div class="block-image position-relative">-->
<!--                  <div class="img-box">-->
<!--                    <a class="overly-images" href="./movie-detail.html">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/08.webp" alt="movie-card" class="img-fluid object-cover">-->
<!--                    </a>-->
<!--                    <span class="top-ten-numbers texture-text">8</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="swiper-slide" role="group" aria-label="9 / 10" style="width: 318.667px;">-->
<!--              <div class="iq-top-ten-block">-->
<!--                <div class="block-image position-relative">-->
<!--                  <div class="img-box">-->
<!--                    <a class="overly-images" href="./movie-detail.html">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/09.webp" alt="movie-card" class="img-fluid object-cover">-->
<!--                    </a>-->
<!--                    <span class="top-ten-numbers texture-text">9</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="swiper-slide" role="group" aria-label="10 / 10" style="width: 318.667px;">-->
<!--              <div class="iq-top-ten-block">-->
<!--                <div class="block-image position-relative">-->
<!--                  <div class="img-box">-->
<!--                    <a class="overly-images" href="./movie-detail.html">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/top-ten-number/10.webp" alt="movie-card" class="img-fluid object-cover">-->
<!--                    </a>-->
<!--                    <span class="top-ten-numbers texture-text">10</span>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--            </li>-->
          </ul>
          <div class="swiper-button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-89f6aa5889fa2af7" aria-disabled="false"></div>
          <div class="swiper-button swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-89f6aa5889fa2af7" aria-disabled="true"></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </section>
    </div>
  </div>

<!--  <div class="favourite-person-block">-->
<!--    <div class="container-fluid">-->
<!--      <section class="overflow-hidden">-->
<!--        <div class="d-flex align-items-center justify-content-between px-md-3 px-1 my-4">-->
<!--          <h5 class="main-title text-capitalize mb-0">your favourite cast</h5>-->
<!--          <a href="all-personality.html" class="text-primary iq-view-all text-decoration-none">View All</a>-->
<!--        </div>-->
<!--        <div class="position-relative swiper swiper-card swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="11" data-laptop="11" data-tab="4" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">-->
<!--          <ul class="p-0 swiper-wrapper m-0  list-inline personality-card" id="swiper-wrapper-28b198b47109ea816" aria-live="polite" style="transform: translate3d(-926px, 0px, 0px); transition-duration: 0ms;">-->
<!--            <li class="swiper-slide swiper-active swiper-slide-active" role="group" aria-label="1 / 12" style="width: 231.5px;" data-swiper-slide-index="0">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/01.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">john Abraham</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actor</a>-->
<!--              </div>               </li>-->
<!--            <li class="swiper-slide swiper-active swiper-slide-next" role="group" aria-label="2 / 12" style="width: 231.5px;" data-swiper-slide-index="1">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/02.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Leena burton</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>-->
<!--              </div>               </li>-->
<!--            <li class="swiper-slide swiper-active" role="group" aria-label="3 / 12" style="width: 231.5px;" data-swiper-slide-index="2">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/03.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Lorina williams </a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>-->
<!--              </div>               </li>-->
<!--            <li class="swiper-slide swiper-active last" role="group" aria-label="4 / 12" style="width: 231.5px;" data-swiper-slide-index="3">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/04.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Davina decorous</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>-->
<!--              </div>               </li>-->
<!--            <li class="swiper-slide" role="group" aria-label="5 / 12" style="width: 231.5px;" data-swiper-slide-index="4">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/05.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Thomas bailey</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">producer</a>-->
<!--              </div>               </li>-->
<!--            <li class="swiper-slide" role="group" aria-label="6 / 12" style="width: 231.5px;" data-swiper-slide-index="5">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/06.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Kelly Reilly</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>-->
<!--              </div>               </li>-->
<!--            <li class="swiper-slide" role="group" aria-label="7 / 12" style="width: 231.5px;" data-swiper-slide-index="6">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/07.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">smith Jonas</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">director</a>-->
<!--              </div>               </li>-->
<!--            <li class="swiper-slide" role="group" aria-label="8 / 12" style="width: 231.5px;" data-swiper-slide-index="7">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/08.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">angel louis</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">producer</a>-->
<!--              </div>               </li>-->
<!--            <li class="swiper-slide" role="group" aria-label="9 / 12" style="width: 231.5px;" data-swiper-slide-index="8">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/09.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Millar joseph</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actor</a>-->
<!--              </div>               </li>-->
<!--            <li class="swiper-slide" role="group" aria-label="10 / 12" style="width: 231.5px;" data-swiper-slide-index="9">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/10.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">mark wilson</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actor</a>-->
<!--              </div>               </li>-->
<!--            <li class="swiper-slide" role="group" aria-label="11 / 12" style="width: 231.5px;" data-swiper-slide-index="10">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/11.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Kelley walker</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">director</a>-->
<!--              </div>               </li>-->
<!--            <li class="swiper-slide swiper-slide-duplicate-prev" role="group" aria-label="12 / 12" style="width: 231.5px;" data-swiper-slide-index="11">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/12.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Amy Sedaris</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>-->
<!--              </div>-->
<!--            </li>-->
<!--          </ul>-->
<!--          <div class="swiper-button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-28b198b47109ea816"></div>-->
<!--          <div class="swiper-button swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-28b198b47109ea816"></div>-->
<!--          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>-->
<!--      </section>-->
<!--    </div>-->
<!--  </div>-->

  <div class="favourite-person-block">
    <div class="container-fluid">
      <section class="overflow-hidden">
        <div class="d-flex align-items-center justify-content-between px-md-3 px-1 my-4">
          <h3 class="main-title text-capitalize mb-0" style="margin-left: auto;margin-right: auto">Find yourself a new favorite cast</h3>
        </div>
        <div class="position-relative swiper swiper-card swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="10" data-laptop="10" data-tab="4" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">
          <ul class="p-0 swiper-wrapper m-0  list-inline personality-card" id="swiper-wrapper-28b198b47109ea816" aria-live="polite" style="transform: translate3d(-926px, 0px, 0px); transition-duration: 0ms;">
            <% @casts.each do |cast|%>
              <li class="swiper-slide swiper-active swiper-slide-active" role="group" style="width: 231.5px;">
              <%= image_tag("cast/#{cast.first_name} #{cast.last_name}.jpg", class: 'img-fit object-fit mb-4 rounded', height: "200") %>
              <div class="text-center">
                <h6 class="mb-0">
                  <%= link_to "#{cast.first_name} #{cast.last_name}", cast_path(cast), class: "font-size-14 text-decoration-none cast-title text-capitalize" %>
                </h6>
                <%= link_to cast.role.title, cast_path(cast), class: "font-size-14 text-decoration-none text-capitalize text-body" %>
              </div>
              </li>
            <% end %>
<!--            TEMPLATE -->
<!--            <li class="swiper-slide swiper-active swiper-slide-active" role="group" aria-label="1 / 12" style="width: 231.5px;" data-swiper-slide-index="0">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/01.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">john Abraham</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actor</a>-->
<!--              </div>-->
<!--            </li>-->
<!--            <li class="swiper-slide swiper-active swiper-slide-next" role="group" aria-label="2 / 12" style="width: 231.5px;" data-swiper-slide-index="1">-->
<!--              <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/cast/02.webp" alt="personality" class="img-fluid object-cover mb-4 rounded">-->
<!--              <div class="text-center">-->
<!--                <h6 class="mb-0">-->
<!--                  <a href="person-detail.html" class="font-size-14 text-decoration-none cast-title text-capitalize">Leena burton</a>-->
<!--                </h6>-->
<!--                <a href="cast-category.html" class="font-size-14 text-decoration-none text-capitalize text-body">actress</a>-->
<!--              </div>-->
<!--            </li>-->
            <!--            TEMPLATE -->
          </ul>
          <div class="swiper-button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-28b198b47109ea816"></div>
          <div class="swiper-button swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-28b198b47109ea816"></div>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
      </section>
    </div>
  </div>

  <h3 class="mb-5" style="text-align: center">Choose films by your taste</h3>
  <% @genres.each do |genre| %>
    <div class="genre-block mt-0">
      <div class="container-fluid">
        <section class="overflow-hidden">
          <div class="d-flex align-items-center justify-content-between px-md-3 px-1 mb-4">
            <h4 class="main-title text-capitalize mb-0"><%= genre.title %></h4>
            <%= link_to "View all", genre_path(genre), class: "text-primary iq-view-all text-decoration-none flex-none"%>
          </div>
          <div class="position-relative swiper swiper-card iq-top-ten-block-slider swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="6" data-laptop="6" data-tab="3" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
            <ul class="p-0 swiper-wrapper mb-5 list-inline" id="swiper-wrapper-89f6aa5889fa2af7" aria-live="polite" style="transform: translate3d(0px, 0px, 0px);">
              <% genre.films.each do |film|%>
                <li class="swiper-slide" role="group" style="width: 318.667px;">
                  <div class="iq-top-ten-block">
                    <div class="block-image position-relative">
                      <div class="img-box">
                        <%= link_to image_tag("films/#{film.title}.jpg", height: "330"), film_path(film) %>
                      </div>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
            <div class="swiper-button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-89f6aa5889fa2af7" aria-disabled="false"></div>
            <div class="swiper-button swiper-button-prev swiper-button-disabled" tabindex="-1" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-89f6aa5889fa2af7" aria-disabled="true"></div>
            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </section>
      </div>
    </div>
  <% end %>

<!--  <div class="movie-geners-block">-->
<!--    <div class="container-fluid">-->
<!--      <div class="overflow-hidden">-->
<!--        <div class="d-flex align-items-center justify-content-between px-md-3 px-1 my-4">-->
<!--          <h5 class="main-title text-capitalize mb-0">movie geners</h5>-->
<!--          <a href="all-geners.html" class="text-primary iq-view-all text-decoration-none flex-none">View All</a>-->
<!--        </div>-->
<!--        <div class="card-style-slider">-->
<!--          <div class="position-relative swiper swiper-card swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="5" data-laptop="6" data-tab="3" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="true" data-navigation="true" data-pagination="true">-->
<!--            <ul class="p-0 swiper-wrapper m-0  list-inline geners-card" id="swiper-wrapper-171768af664440df" aria-live="polite" style="transform: translate3d(-926px, 0px, 0px); transition-duration: 0ms;">-->
<!--              <li class="swiper-slide swiper-slide-active" role="group" aria-label="1 / 7" style="width: 308.667px;" data-swiper-slide-index="0">-->
<!--                <div class="iq-card-geners card-hover-style-two">-->
<!--                  <div class="block-images position-relative w-100">-->
<!--                    <div class="img-box rounded position-relative">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/01.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">-->
<!--                      <div class="blog-description">-->
<!--                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">action</a></h6>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="swiper-slide swiper-active swiper-slide-next" role="group" aria-label="2 / 7" style="width: 308.667px;" data-swiper-slide-index="1">-->
<!--                <div class="iq-card-geners card-hover-style-two">-->
<!--                  <div class="block-images position-relative w-100">-->
<!--                    <div class="img-box rounded position-relative">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/02.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">-->
<!--                      <div class="blog-description">-->
<!--                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">adventure</a></h6>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="swiper-slide swiper-active last" role="group" aria-label="3 / 7" style="width: 308.667px;" data-swiper-slide-index="2">-->
<!--                <div class="iq-card-geners card-hover-style-two">-->
<!--                  <div class="block-images position-relative w-100">-->
<!--                    <div class="img-box rounded position-relative">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/03.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">-->
<!--                      <div class="blog-description">-->
<!--                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">animation</a></h6>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="swiper-slide" role="group" aria-label="4 / 7" style="width: 308.667px;" data-swiper-slide-index="3">-->
<!--                <div class="iq-card-geners card-hover-style-two">-->
<!--                  <div class="block-images position-relative w-100">-->
<!--                    <div class="img-box rounded position-relative">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/04.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">-->
<!--                      <div class="blog-description">-->
<!--                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">Crime</a></h6>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="swiper-slide" role="group" aria-label="5 / 7" style="width: 308.667px;" data-swiper-slide-index="4">-->
<!--                <div class="iq-card-geners card-hover-style-two">-->
<!--                  <div class="block-images position-relative w-100">-->
<!--                    <div class="img-box rounded position-relative">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/05.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">-->
<!--                      <div class="blog-description">-->
<!--                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">horror</a></h6>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="swiper-slide" role="group" aria-label="6 / 7" style="width: 308.667px;" data-swiper-slide-index="5">-->
<!--                <div class="iq-card-geners card-hover-style-two">-->
<!--                  <div class="block-images position-relative w-100">-->
<!--                    <div class="img-box rounded position-relative">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/06.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">-->
<!--                      <div class="blog-description">-->
<!--                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">mystery</a></h6>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--              <li class="swiper-slide swiper-slide-duplicate-prev" role="group" aria-label="7 / 7" style="width: 308.667px;" data-swiper-slide-index="6">-->
<!--                <div class="iq-card-geners card-hover-style-two">-->
<!--                  <div class="block-images position-relative w-100">-->
<!--                    <div class="img-box rounded position-relative">-->
<!--                      <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/genre/07.webp" alt="geners-img" class="img-fluid object-cover w-100 rounded">-->
<!--                      <div class="blog-description">-->
<!--                        <h6 class="mb-0 iq-title"><a href="" class="text-decoration-none text-capitalize line-count-2 p-2">romance</a></h6>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </li>-->
<!--            </ul>-->
<!--            <div class="swiper-button swiper-button-next" tabindex="0" role="button" aria-label="Next slide" aria-controls="swiper-wrapper-171768af664440df"></div>-->
<!--            <div class="swiper-button swiper-button-prev" tabindex="0" role="button" aria-label="Previous slide" aria-controls="swiper-wrapper-171768af664440df"></div>-->
<!--            <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->

</main>

<!-- SwiperSlider Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/swiperSlider/swiper.min.js" type="text/javascript"></script>

<!-- Lodash Utility -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/lodash/lodash.min.js" type="text/javascript"></script>
<!-- External Library Bundle Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/core/external.min.js" type="text/javascript"></script>
<!-- countdown Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/plugins/countdown.js" type="text/javascript"></script>
<!-- utility Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/utility.js" type="text/javascript"></script>
<!-- Setting Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting.js" type="text/javascript"></script>
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting-init.js" defer="" type="text/javascript"></script>
<!-- Streamit Script -->
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/streamit.js" defer="" type="text/javascript"></script>
<script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/swiper.js" defer="" type="text/javascript"></script>

</body>
</html>
