<body class="  ">
  <span class="screen-darken"></span>
  <div class="loader simple-loader animate__animated animate__fadeOut d-none">
     <div class="loader-body">
        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/loader.gif" alt="loader" class="img-fluid " width="300">
      </div>
  </div>

  <main class="main-content">
      <div class="iq-breadcrumb" style="background-image: url(https://templates.iqonic.design/streamit/html/frontend/assets/images/pages/01.webp);">
         <div class="container-fluid">
            <div class="row align-items-center">
                  <div class="col-sm-12">
                      <nav aria-label="breadcrumb" class="text-center">
                          <h2 class="title" style="color: red;">WATCH HUB</h2>
                          <ol class="breadcrumb justify-content-center">                              
 
                            <li>
                              <%= link_to t("buttons.login"), new_user_session_path, class: 'ms-3 btn btn-danger btn-sm', style: "color: white; font-weight: bold; background-color: red; text-decoration: none; border: none;" %>
                            </li>
                            
                            <li>
                              <%= link_to t("buttons.sign_up"), new_user_profile_path, class: 'ms-1 btn btn-danger btn-sm', style: "color: white; font-weight: bold; background-color: red; text-decoration: none; border: none;" %>
                            </li>

                          </ol>
                      </nav>
                  </div>
              </div> 
         </div>
      </div>


<div class="section-padding">
    <div class="container">
        <div class="iq-accordian iq-accordian-square">
            <div class="iq-accordian-block 1 iq-active">
                <div class="iq-accordian-title text-capitalize">
                    <div class="iq-icon-right">
                        <i aria-hidden="true" class="bi bi-dash active"></i>
                        <i aria-hidden="true" class="fas fa-plus inactive"></i>
                    </div>
                    <h4 class="mb-0 accordian-title"><%= t("p.What_watch") %></h4>
                </div>                   
                <div class="iq-accordian-details" style="display: block;">                         
                    <p class="mb-0"><%= t("p.What_watch_desc") %></p>
                </div>
            </div>
            <div class="iq-accordian-block 2">
                <div class="iq-accordian-title text-capitalize">
                    <div class="iq-icon-right">
                        <i aria-hidden="true" class="bi bi-dash active"></i>
                        <i aria-hidden="true" class="fa fa-plus inactive"></i>
                    </div>
                    <h4 class="mb-0 accordian-title"><%= t("p.account_work_country") %></h4>                 
                </div>
                <div class="iq-accordian-details" style="display: none;">                         
                    <p class="mb-0"><%= t("p.What_watch_desc") %></p>
                </div>
            </div>
            <div class="iq-accordian-block 3">
                <div class="iq-accordian-title text-capitalize">
                    <div class="iq-icon-right">
                        <i aria-hidden="true" class="bi bi-dash active"></i>
                        <i aria-hidden="true" class="fa fa-plus inactive"></i>
                    </div>
                    <h4 class="mb-0 accordian-title text-capitalize"><%= t("p.facing_video_playback") %></h4>                 
                </div>
                <div class="iq-accordian-details" style="display: none;">                         
                    <p class="mb-0"><%= t("p.What_watch_desc") %></p>
                </div>
            </div>
            <div class="iq-accordian-block 4">
                <div class="iq-accordian-title">
                    <div class="iq-icon-right">
                        <i aria-hidden="true" class="bi bi-dash active"></i>
                        <i aria-hidden="true" class="fa fa-plus inactive"></i>
                    </div>
                    <h4 class="mb-0 accordian-title text-capitalize"><%= t("p.manage_notifications") %></h4>                 
                </div>
                <div class="iq-accordian-details" style="display: none;">                         
                    <p class="mb-0"><%= t("p.What_watch_desc") %></p>
                </div>
            </div>
            <div class="iq-accordian-block 5">
                <div class="iq-accordian-title">
                    <div class="iq-icon-right">
                        <i aria-hidden="true" class="bi bi-dash active"></i>
                        <i aria-hidden="true" class="fa fa-plus inactive"></i>
                    </div>
                    <h4 class="mb-0 accordian-title text-capitalize"><%= t("p.benefits") %></h4>                 
                </div>
                <div class="iq-accordian-details" style="display: none;">                         
                    <p class="mb-0"><%= t("p.What_watch_desc") %></p>
                </div>
            </div>
        </div>
    </div>
</div>

  </main>
  </div>  
  <div id="back-to-top" style="display: none;" class="animate__animated animate__fadeOut">
     <a class="p-0 btn bg-primary btn-sm position-fixed top border-0 rounded-circle text-white" id="top" href="#top">
        <i class="fa-solid bi bi-chevron-up"></i>
     </a>
  </div>

  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/core/libs.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/lodash/lodash.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/core/external.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/plugins/countdown.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/utility.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting-init.js" defer="" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/streamit.js" defer="" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/swiper.js" defer="" type="text/javascript"></script>
</body>
