<body class="  ">
  <span class="screen-darken"></span>
  <div class="loader simple-loader animate__animated animate__fadeOut d-none">
     <div class="loader-body">
        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/loader.gif" alt="loader" class="img-fluid " width="300">
      </div>
  </div>
  <main class="main-content">


<div class="vh-100" style="background: url('https://templates.iqonic.design/streamit/html/frontend/assets/images/pages/01.webp'); background-size: cover; background-repeat: no-repeat; position: relative;min-height:500px">
  <div class="container">
    <div class="row justify-content-center align-items-center height-self-center vh-100">
        <div class="col-lg-8 col-md-12 align-self-center">
            <div class="user-login-card bg-body">

            <%= form_with(model: user_profile) do |form| %>

               <h4 class="text-center mb-5"><%= t("heading.create_account") %></h4>

               <div class="row row-cols-1 row-cols-lg-2 g-2 g-lg-5">

                  <div class="col">
                    <label class="text-white fw-500 mb-2"><%= t("activerecord.attributes.user_profile.nickname") %></label>
                    <%= form.text_field :nickname, class: "form-control rounded-0", style: "border: 2px solid black; min-width: 370px; height: 50px;", required: true %>
                  </div>

                  <div class="col">
                    <label class="text-white fw-500 mb-2"><%= t("activerecord.attributes.user_profile.date_of_birth") %></label>
                    <%= form.date_field :date_of_birth, class: "form-control rounded-0", style: "border: 2px solid black; min-width: 370px; height: 50px;", required: true %>
                  </div>

                  <%= form.hidden_field :date_of_registration %>

                  <%= form.fields_for :user do |user_fields| %>

                      <div class="col">
                        <label class="text-white fw-500 mb-2"><%= t("activerecord.attributes.user.email") %></label>
                        <%= user_fields.email_field :email, autofocus: true, autocomplete: "email", class: "form-control rounded-0", style: "border: 2px solid black; min-width: 370px; height: 50px;", required: true %>
                      </div>

                      <div class="col">
                        <label class="text-white fw-500 mb-2"><%= t("activerecord.attributes.user.password") %></label>
                        <% if @minimum_password_length %>
                          <em>(<%= @minimum_password_length %> <%= t("activerecord.attributes.minimum_password_length") %> )</em>
                        <% end %><br />
                        <%= user_fields.password_field :password, autocomplete: "new-password", class: "form-control rounded-0", style: "border: 2px solid black; min-width: 370px; height: 50px;", required: true %>
                      </div>
                  
                      <div class="col">
                        <label class="text-white fw-500 mb-2"><%= t("activerecord.attributes.user.password_confirmation") %></label>
                        <%= user_fields.password_field :password_confirmation, autocomplete: "new-password", class: "form-control rounded-0", style: "border: 2px solid black; min-width: 800px; height: 50px;", required: true %>
                      </div>
                    
                  <% end %>
                
              </div>
              <label class="list-group-item d-flex align-items-center mt-5 mb-3 text-white"><input class="form-check-input m-0 me-2" type="checkbox"><%= t("p.read_accept") %><a href="terms-of-use.html" class="ms-1" style="text-decoration: none; color: red;"><%= t("p.terms") %></a></label>
              
            <div class="row text-center">
              <div class="col-lg-3"></div>
                <div class="col-lg-6">
                  <div class="full-button">
                    <div class="iq-button">
                      <div>
                        <%= form.submit t("buttons.sign_up"), class: "btn text-uppercase position-relative mt-2", style: "text-decoration: none; height: 50px;" %>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="col-lg-3"></div>
              <p class="mt-2 mb-0 fw-normal mt-3"><%= t("p.have_account") %><%= link_to t("buttons.login"), new_user_session_path, class: 'ms-1', style: "text-decoration: none; color: red; font-weight: bold" %></p>
            </div>

            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

</main>

  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/core/libs.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/lodash/lodash.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/core/external.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/plugins/countdown.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/utility.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting-init.js" defer="" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/streamit.js" defer="" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/swiper.js" defer="" type="text/javascript"></script>

</body>
</html>
