<div id="<%= dom_id user_profile %>">
  <p>
    <strong>Nickname:</strong>
    <%= user_profile.nickname %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= user_profile.date_of_birth %>
  </p>

  <p>
    <strong>Date of registration:</strong>
    <%= user_profile.date_of_registration %>
  </p>

  <p>
    <strong>User:</strong>
    <%= user_profile.user_id %>
  </p>

</div>
