<div id="<%= dom_id film %>">
  <p>
    <strong>Title:</strong>
    <%= film.title %>
  </p>

  <p>
    <strong>Slogan:</strong>
    <%= film.slogan %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= film.link %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= film.release_year %>
  </p>

  <p>
    <strong>Maturity rating:</strong>
    <%= film.maturity_rating_id %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= film.duration %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= film.description %>
  </p>

</div>
