<!DOCTYPE html>
<html>
<head>
  <title>Films</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css">
  <style>
      body {
          background-image: url('https://templates.iqonic.design/streamit/html/frontend/assets/images/pages/01.webp');
          background-size: cover;
          background-repeat: no-repeat;
          position: relative;min-height:500px;
          background-color: #2c2c2c;
          color: #e0e0e0;
          font-size: 16px;
      }
      .table-dark th {
          background-color: #1e1e1e;
          color: #ffffff;
          text-align: center;
      }
      .table-dark td {
          background-color: #3e3e3e;
          color: #e0e0e0;
          text-align: center;
      }
      .form-label, .form-select, .form-control {
          color: #e0e0e0;
          font-size: 18px;
      }
      .form-select {
          background-color: #1e1e1e;
          color: #e0e0e0;
      }
      .form-control {
          background-color: #1e1e1e;
      }
      .filter-form {
          background-color: #1f1f1f;
          padding: 20px;
          border-radius: 5px;
          margin-bottom: 30px;
      }
      .container {
          max-width: 900px;
          margin: auto;
      }
      h1 {
          font-size: 3.5rem;
          color: whitesmoke;
          text-align: center;
      }
      .btn-primary {
          font-size: 1rem;
      }
      .form-group {
          margin-bottom: 15px;
      }
  </style>
</head>
<body>
  <div class="container my-5">
    <h1 class="text-center mb-4" style="margin-top: 70px"><%= t("heading.Films_Search") %></h1>

    <div class="filter-form mb-5">
      <form method="get" action="<%= films_path %>">
        <div class="form-row">
          <div class="form-group">
            <label for="title" class="form-label"><%= t("activerecord.attributes.film.title") %></label>
            <input type="text" class="form-control" id="title" name="title" value="<%= params[:title] %>" placeholder="<%= t('p.Enter_title') %>" style="width: 100%">
          </div>
          <div class="form-group">
            <label for="genre_id" class="form-label"><%= t("p.Genre") %></label>
            <select id="genre_id" name="genre_id" class="form-select">
              <option value=""><%= t("p.Select_Genre") %></option>
              <% @genres.each do |genre| %>
                <option value="<%= genre.id %>" <%= 'selected' if params[:genre_id].to_i == genre.id %>><%= t("genres.#{genre.title}") %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="min_year" class="form-label"><%= t("p.Min_Year_Release") %></label>
            <input type="number" class="form-control" id="min_year" name="min_year" value="<%= params[:min_year] %>" placeholder="<%= t('p.Min_year') %>" min="1888" style="width: 100%">
          </div>
          <div class="form-group">
            <label for="max_duration" class="form-label"><%= t("p.Max_Duration") %> (<%= t("time.minutes") %>)</label>
            <input type="number" class="form-control" id="max_duration" name="max_duration" value="<%= params[:max_duration] %>" placeholder="<%= t('p.Max_Duration') %>" min="1" style="width: 100%">
          </div>
          <div class="form-group">
            <label for="maturity_rating_id" class="form-label"><%= t("heading.Maturity_Rating") %></label>
            <select id="maturity_rating_id" name="maturity_rating_id" class="form-select">
              <option value=""><%= t("heading.Select_Rating") %></option>
              <% @maturity_ratings.each do |rating| %>
                <option value="<%= rating.id %>" <%= 'selected' if params[:maturity_rating_id].to_i == rating.id %>><%= rating.title %></option>
              <% end %>
            </select>
          </div>
          <div class="form-group">
            <label for="filter_by" class="form-label"><%= t("p.Filter_By") %></label>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="filter_by" id="filter_by_year" value="year" <%= 'checked' if params[:filter_by] == 'year' %>>
              <label class="form-check-label" for="filter_by_year">
                <%= t("p.Year_Release") %>
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="filter_by" id="filter_by_year" value="year" <%= 'checked' if params[:filter_by].nil?  params[:filter_by].empty?  params[:filter_by] == 'year' %>>
              <label class="form-check-label" for="filter_by_year">
                <%= t("p.Year_Release") %>
              </label>
            </div>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary w-100 mt-4"><%= t("buttons.Filter") %></button>
          </div>
        </div>
      </form>
    </div>

    <div class="table-responsive mx-auto mt-3" style="width: 100%;">
      <table class="table table-striped" style="width: 100%;text-align: center">
        <thead>
        <tr>
          <th style="text-align: center"><%= t("activerecord.attributes.film.title") %></th>
          <th style="text-align: center"><%= t("p.Genre") %></th>
          <th style="text-align: center"><%= t("activerecord.attributes.film.release_date") %></th>
          <th style="text-align: center"><%= t("activerecord.attributes.film.duration") %></th>
          <th style="text-align: center"><%= t("activerecord.attributes.film.maturity_rating_id") %></th>
          <th style="text-align: center"><%= t("p.Average_Rating") %></th>
        </tr>
        </thead>
        <tbody>
        <% @films.each do |film| %>
          <tr onclick="window.location='<%= film_path(film) %>'" style="cursor: pointer;">
            <td><%= t("films.#{film.title}") %></td>
            <td><%= film.genres.map { |genre| t("genres.#{genre.title}") }.join(', ') %></td>
            <td><%= I18n.l(film.release_date, format: :default) %></td>
            <td><%= format_duration(film.duration) %></td>
            <td><%= film.maturity_rating.title %></td>
            <td><%= film.average_rating %></td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</body>
</html>
