<html lang="en" data-bs-theme="dark" dir="ltr" style="--header-height: 74px;"><head><style class="vjs-styles-defaults">
      .video-js {
        width: 300px;
        height: 150px;
      }

      .vjs-fluid {
        padding-top: 56.25%
      }
    </style><style class="vjs-styles-dimensions">
      .my-video-dimensions {
        width: 1920px;
        height: 1080px;
      }

      .my-video-dimensions.vjs-fluid {
        padding-top: 56.25%;
      }
    </style>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
  <%= javascript_include_tag('star.js') %>

  

<style type="text/css">.vjs-youtube .vjs-iframe-blocker { display: none; }.vjs-youtube.vjs-user-inactive .vjs-iframe-blocker { display: block; }.vjs-youtube .vjs-poster { background-size: cover; }.vjs-youtube-mobile .vjs-big-play-button { display: none; }</style></head>

<body class=" custom-header-relative " data-select2-id="select2-data-7-yylq">
  <span class="screen-darken"></span>
  <!-- loader Start -->
   <!-- loader Start -->
  <div class="loader simple-loader animate__animated animate__fadeOut d-none">
     <div class="loader-body">
        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/loader.gif" alt="loader" class="img-fluid " width="300">
      </div>
  </div>
  <!-- loader END -->  <!-- loader END -->
  <main class="main-content">

<div class="iq-main-slider site-video">
  <div class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-lg-12 d-flex justify-content-center">
        <div class="pt-0">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="1000" height="500" src="<%= @film.link %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="details-part">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12">
        <div class="trending-info mt-4 pt-0 pb-4" data-select2-id="select2-data-6-xano">
          <div class="row">
            <div class="col-md-9 col-12 mb-auto">
              <div class="d-block d-lg-flex align-items-center">
                <h2 class="trending-text fw-bold text-uppercase my-0 fadeInLeft animated d-inline-block" data-animation-in="fadeInLeft" data-delay-in="0.6" style="opacity: 1; animation-delay: 0.6s">
                  <%= @film.title %>
                </h2>

                <div class="slider-ratting d-flex align-items-center ms-lg-3 ms-0">
                 <!-- <ul class="ratting-start p-0 m-0 list-inline text-warning d-flex align-items-center justify-content-left">
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star" aria-hidden="true"></i></li>
                    <li><i class="fa fa-star-half" aria-hidden="true"></i></li>
                  </ul>
                  -->
                </div>
              </div>
                
              <%= "IMDb: #{@film.average_rating} / 5" %>
              
              <ul class="p-0 mt-2 list-inline d-flex flex-wrap movie-tag">
                  <li class="iq-tag-title text-primary mb-0">
                    Tags:
                  </li>
                  
                  <% @genres.each do |genre| %>
                    <li>
                      <%= link_to genre.title, genre_path(genre), style: "text-decoration: none; color: white; font-weight: bold;" %>
                      <span class="text-secondary"></span>
                    </li>
                  <% end %>
                </ul>

                <ul class="p-0 mt-2 list-inline d-flex flex-wrap movie-tag">
                <li class="iq-tag-title text-primary mb-0">
                  Countries:
                </li>
                
                <% @countries.each do |country| %>
                  <li style="text-decoration: none; color: white; font-weight: bold;">
                    <%= country.country_name %>
                    <span class="text-secondary"></span>
                  </li>
                <% end %>
              </ul> 
                
              <% session[:film_id] = @film.id %>
              <span class="font-Weight-500 mb-2"> <span style="color: red; font-weight: bold;">Slogan:</span> <%= @film.slogan %></span>
              <div class="d-flex flex-wrap align-items-center text-white text-detail flex-wrap mb-4">
                <span class="font-Weight-500 genres-info"><span style="color: red; font-weight: bold;">Duration:</span> <%= @film.duration %> min</span><br>
                <span class="trending-year trending-year-list font-Weight-500 genres-info" style="margin-left: 20px;">
                  <span style="color: red; font-weight: bold;">Release date:</span> <%= @film.release_date.strftime("%-d %b %Y") %>
                </span>
              </div>
                <div id="film-data" data-film-id="<%= @film.id %>"></div>
                <div id="user-rating" data-user-rating="<%= @rating.score %>"></div>
                
                <p>Your rating:<span class="ms-3 star-rating">
                  <label for="rate-1" style="--i:1"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="rate-1" value="1">
                  <label for="rate-2" style="--i:2"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="rate-2" value="2">
                  <label for="rate-3" style="--i:3"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="rate-3" value="3">
                  <label for="rate-4" style="--i:4"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="rate-4" value="4">
                  <label for="rate-5" style="--i:5"><i class="fas fa-star"></i></label>
                  <input type="radio" name="rating" id="rate-5" value="5">
                </span></p>


                <% if UserLike.exists?(film_id: @film.id, user_profile_id: session[:user_id]) %>
                  <%= link_to 'Unlike', unlike_path, class: 'btn btn-primary', style: "padding-top: 5px; padding-bottom: 5px;" %>
                <% else %>
                  <%= link_to 'Like', like_path, class: 'btn btn-primary', style: "padding-top: 5px; padding-bottom: 5px;" %>
                <% end %>

                <% if UserWatchLater.exists?(film_id: @film.id, user_profile_id: session[:user_id]) %>
                  <%= link_to 'Not Watch Later', not_later_path, class: 'btn btn-primary', style: "padding-top: 5px; padding-bottom: 5px;" %>
                <% else %>
                  <%= link_to 'Watch Later', later_path, class: 'btn btn-primary', style: "padding-top: 5px; padding-bottom: 5px;" %>
                <% end %>

            </div>
          </div>
        </div>
        <div class="content-details trending-info">
          <ul class="iq-custom-tab tab-bg-gredient-center d-flex nav nav-pills align-items-center text-center mb-5 justify-content-center list-inline" role="tablist">
            <li class="nav-item" role="presentation">
              <a class="nav-link active show" data-bs-toggle="pill" href="#description-01" role="tab" aria-selected="true" style="text-decoration: none;">
                Description
              </a>
            </li>
            <li class="nav-item" role="presentation">
              <a class="nav-link" data-bs-toggle="pill" href="#review-01" role="tab" aria-selected="false" tabindex="-1" style="text-decoration: none;">
                Rate &amp; Review
              </a>
            </li>
          </ul>
          <div class="tab-content">
            <div id="description-01" class="tab-pane animated fadeInUp active show" role="tabpanel">
              <div class="description-content">
                <p>
                  <%= @film.description %>
                </p>
              </div>
            </div>
            <div id="review-01" class="tab-pane animated fadeInUp" role="tabpanel">
              <div class="streamit-reviews">
                <div id="comments" class="comments-area validate-form">
                  <p class="masvideos-noreviews mt-3">
                    
                  <% if @comments.any? %>
                  <ul style="list-style-type: none;">
                    <% @comments.each do |comment| %>
                      <li style="margin-bottom: 20px;">
                        <div style="border: 1px solid #ccc; border-radius: 5px; padding: 10px;">
                          <div style="display: flex; align-items: center; justify-content: space-between;">
                            <p style="margin: 0;">
                              <span style="color: red;"><%= comment.user_profile.nickname %></span> <br><br>
                              <%= comment.content %>
                            </p>
                            <% if comment.user_profile_id == session[:user_id] %>
                              <div>
                                <%= link_to edit_comment_path(comment), class: 'edit-link', title: 'Edit' do %>
                                  <i class="fas fa-edit" style="color: red; cursor: pointer;"></i>
                                <% end %>
                                <%= button_to "", comment, method: :delete, class: 'delete-link fas fa-trash-alt', data: { confirm: 'Are you sure?' }, style: "color: red; cursor: pointer;" %>
                              </div>
                            <% end %>
                          </div>
                          <br>
                          <p style="margin: 5px 0; color: red;"><small>Posted on <%= comment.created_at.strftime("%B %d, %Y %H:%M") %></small></p>
                        </div>
                      </li>
                    <% end %>
                  </ul>

                <% else %>
                  <p class="masvideos-noreviews mt-3">
                    There are no reviews yet.
                  </p>
                <% end %>
                
                  </p>
                </div>
                <div class="review_form">
                  <div class="comment-respond">
                    <h3 class="fw-500 my-2">
                      Be the first to review "<%= @film.title %>"
                    </h3>
                    <div class="row">
                      <div class="col-md-12">
                          <div class="form-group">
                              <label class="mb-2">
                                  Your review
                                  <span class="required">
                                  *
                                  </span>
                              </label>

                              <%= form_with(model: @comment) do |form| %>
                                <% if @comment.errors.any? %>
                                  <div style="color: red">
                                    <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>
                              
                                    <ul>
                                      <% @comment.errors.each do |error| %>
                                        <li><%= error.full_message %></li>
                                      <% end %>
                                    </ul>
                                  </div>
                                <% end %>
                              
                                <div>
                                  <%= form.label :content, style: "display: block" %>
                                  <%= form.text_area :content, class: "form-control" %>
                                </div>
                                
                                <div>
                                  <% session[:fild_id] = @film.id %>
                                  <%= form.submit "Save" %>
                                </div>
                              <% end %>
                          </div>
                      </div>
                  </div>  
                  </div>
                </div>
              </div>
            </div>
            <div id="source-01" class="tab-pane animated fadeInUp" role="tabpanel">
              <div class="source-list-content table-responsive">
                <table class="table custom-table">
                  <thead>
                    <tr>
                      <th>
                        Links
                      </th>
                      <th>
                        Quality
                      </th>
                      <th>
                        Language
                      </th>
                      <th>
                        Player
                      </th>
                      <th>
                        Date Added
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <div class="iq-button">
                          <a href="./movie-detail.html" class="btn text-uppercase position-relative">
                            <span class="button-text"> Play Now</span>
                            <i class="fa-solid fa-play"></i>                 
                          </a>
                        </div>
                      </td>
                      <td>
                        1080p
                      </td>
                      <td>
                        english
                      </td>
                      <td>
                        MusicBee
                      </td>
                      <td>
                        2021-11-28
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="iq-button">
                          <a href="./movie-detail.html" class="btn text-uppercase position-relative">
                            <span class="button-text"> Play Now</span>
                            <i class="fa-solid fa-play"></i>                 
                          </a>
                        </div>
                      </td>
                      <td>
                        800p
                      </td>
                      <td>
                        english
                      </td>
                      <td>
                        5KPlayer
                      </td>
                      <td>
                        2021-11-25
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="iq-button">
                          <a href="./movie-detail.html" class="btn text-uppercase position-relative">
                            <span class="button-text"> Play Now</span>
                            <i class="fa-solid fa-play"></i>                 
                          </a>
                        </div>
                      </td>
                      <td>
                        720p
                      </td>
                      <td>
                        English
                      </td>
                      <td>
                        MediaMonkey
                      </td>
                      <td>
                        2021-11-20
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <!-- Movie Source End -->      </div>
    </div>
  </div>
</div>

<div class="cast-tabs">
  <div class="container-fluid">
    <div class="content-details trending-info g-border iq-rtl-direction">
      <ul class="iq-custom-tab tab-bg-fill d-flex nav nav-pills mb-5 " role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link show active" data-bs-toggle="pill" href="#cast-1" role="tab" aria-selected="true" style="text-decoration: none;">Crew</a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" data-bs-toggle="pill" href="#crew-1" role="tab" aria-selected="false" tabindex="-1" style="text-decoration: none;">Directors</a>
        </li>
      </ul>
      <div class="tab-content">
        <div id="cast-1" class="tab-pane animated fadeInUp active show" role="tabpanel">
          <div class="position-relative swiper swiper-card swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="5" data-laptop="5" data-tab="3" data-mobile="2" data-mobile-sm="1" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
              <ul class="swiper-wrapper" style="list-style-type: none; padding-left: 0;">
              <% @actors.each do |actor| %>
                <li class="swiper-slide" style="width: 297.6px;">
                  <div class="cast-images m-0 row align-items-center position-relative">
                    <div class="col-4 img-box p-0">
                    <%= image_tag("cast/#{actor.first_name} #{actor.last_name}.jpg", class: 'img-fit object-fit mb-4 rounded', height: "200") %>
                    </div>
                    <div class="col-8 block-description">
                      <h6 class="iq-title">
                        <a href="<%= cast_path(actor) %>" tabindex="0"><%= actor.first_name + " " + actor.last_name %></a>
                      </h6>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
              <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
        <div id="crew-1" class="tab-pane animated fadeInUp" role="tabpanel">
          <div class="position-relative swiper swiper-card swiper-initialized swiper-horizontal swiper-pointer-events" data-slide="5" data-laptop="5" data-tab="3" data-mobile="2" data-mobile-sm="2" data-autoplay="false" data-loop="false" data-navigation="true" data-pagination="true">
            
          <ul class="list-inline swiper-wrapper" id="swiper-wrapper-dfc75b2ae935528e" aria-live="polite" style="transition-duration: 0ms; transform: translate3d(0px, 0px, 0px); list-style-type: none; padding-left: 0;">
                
              <% @directors.each do |director| %>
                <li class="swiper-slide swiper-slide-active" style="width: 297.6px;">
                  <div class="cast-images m-0 row align-items-center position-relative">
                    <div class="col-4 img-box p-0">
                      <%= image_tag("cast/#{director.first_name} #{director.last_name}.jpg", class: 'img-fit object-fit mb-4 rounded', height: "200") %>
                    </div>
                    <div class="col-8 block-description starring-desc">
                      <h6 class="iq-title">
                        <a href="<%= cast_path(director) %>" tabindex="0"><%= director.first_name + " " + director.last_name %></a>
                      </h6>
                    </div>
                  </div>
                </li>
              <% end %>
            </ul>
          <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
        </div>
      </div>
    </div>
  </div>
</div>

<br><br>
  </main>

<!--
  <script type="text/javascript" id="www-widgetapi-script" src="https://www.youtube.com/s/player/b9ad8b0a/www-widgetapi.vflset/www-widgetapi.js" async=""></script><script src="https://www.youtube.com/iframe_api"></script><script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/core/libs.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/swiperSlider/swiper.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/video/video.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/videojs-youtube-master/youtube.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/plugins/select2.js" defer="" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/lodash/lodash.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/core/external.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/plugins/countdown.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/utility.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting-init.js" defer="" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/streamit.js" defer="" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/swiper.js" defer="" type="text/javascript"></script>
-->
</body>
</html>