<body class="  ">
  <span class="screen-darken"></span>
  <div class="loader simple-loader animate__animated animate__fadeOut d-none">
     <div class="loader-body">
        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/loader.gif" alt="loader" class="img-fluid " width="300">
      </div>
  </div>
  <main class="main-content">

<div class="vh-100" style="background: url('https://templates.iqonic.design/streamit/html/frontend/assets/images/pages/01.webp'); background-size: cover; background-repeat: no-repeat; position: relative;min-height:500px">
    <div class="container">
        <div class="row justify-content-center align-items-center height-self-center vh-100">
            <div class="col-lg-5 col-md-12 align-self-center">
                <div class="user-login-card bg-body">
                    <div class="text-center">
                      <div class="logo-default">
                        <a class="navbar-brand text-primary" href="/" style="font-size: 32px;">
                          WatchHub
                        </a>
                      </div>
                    </div>

                    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                        <div class="mb-3" style="min-width: 600px; margin-top: 20px">
                            <label class="text-white fw-500 mb-2"><%= t("activerecord.attributes.user.email") %></label>
                            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control rounded-0 custom-input", style: "border: 2px solid black; height: 50px;"  %>
                        </div>
                        
                        <div class="mb-3" style="min-width: 600px;">
                            <label class="text-white fw-500 mb-2"><%= t("activerecord.attributes.user.password") %></label>
                            <%= f.password_field :password, autocomplete: "current-password", class: "form-control rounded-0 custom-input", style: "border: 2px solid black; height: 50px;" %>
                        </div>

                        <% if devise_mapping.rememberable? %>
                          <div class="list-group-item d-flex align-items-center mb-3 font-size-14 text-white fw-500">
                            <%= f.check_box :remember_me, class: "form-check-input m-0 me-2" %>
                            <%= f.label :remember_me, class: "m-0" %>
                          </div>
                        <% end %>
                                              
                        <div class="full-button">
                          <div class="iq-button">
                            <div class="actions">
                              <%= f.submit t("buttons.login"), class: "btn text-uppercase position-relative", style: "text-decoration: none; height: 50px;" %>
                            </div>
                          </div>
                        </div>

                    <p class="my-4 text-center fw-500 text-white"><%= t("p.New_WatchHub") %><%= link_to t("buttons.register"), new_user_profile_path, class: "text-primary ms-1", style: "text-decoration: none;" %></p>
                    <p class="my-4 text-center fw-500 text-white">
                      <%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
                        <%= link_to t("buttons.forgot_your_password"), new_password_path(resource_name), class: "text-primary ms-1", style: "text-decoration: none;" %><br />
                      <% end %>  
                    </p>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>
</main>

  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/core/libs.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/lodash/lodash.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/core/external.min.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/plugins/countdown.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/utility.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting.js" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/setting-init.js" defer="" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/streamit.js" defer="" type="text/javascript"></script>
  <script src="https://templates.iqonic.design/streamit/html/frontend/assets/js/swiper.js" defer="" type="text/javascript"></script>

</body>
