<html lang="en" data-bs-theme="dark"><head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script type="text/javascript" async="" src="https://www.googletagmanager.com/gtag/js?id=G-TXTBFKF5EW&amp;l=dataLayer&amp;cx=c"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-WKV3GT5"></script><script src="https://silicon.createx.studio/assets/js/theme-switcher.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="https://silicon.createx.studio/assets/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="https://silicon.createx.studio/assets/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="https://silicon.createx.studio/assets/favicon/favicon-16x16.png">
    <link rel="manifest" href="https://silicon.createx.studio/assets/favicon/site.webmanifest">
    <link rel="mask-icon" href="https://silicon.createx.studio/assets/favicon/safari-pinned-tab.svg" color="#6366f1">
    <link rel="shortcut icon" href="https://silicon.createx.studio/assets/favicon/favicon.ico">
    <meta name="msapplication-TileColor" content="#080032">
    <meta name="msapplication-config" content="https://silicon.createx.studio/assets/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" media="screen" href="https://silicon.createx.studio/assets/vendor/boxicons/css/boxicons.min.css">
    <link rel="stylesheet" media="screen" href="https://silicon.createx.studio/assets/css/theme.min.css">
    <link rel="shortcut icon" href="https://templates.iqonic.design/streamit/html/frontend/assets/images/favicon.ico">
    <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/css/core/libs.min.css">
    <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/font-awesome/css/all.min.css">
    <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/iconly/css/style.css">
    <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/animate.min.css">
    <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/vendor/swiperSlider/swiper.min.css">
    <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/css/streamit.min.css?v=5.1.0">
    <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/css/custom.min.css?v=5.1.0">
    <link rel="stylesheet" href="https://templates.iqonic.design/streamit/html/frontend/assets/css/rtl.min.css?v=5.1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&amp;display=swap" rel="stylesheet">
    <%= javascript_include_tag('refresh.js') %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <style>

      #submit-button {
        position: absolute;
        bottom: 0;
        right: 0;
        margin-top: 4px;
        background-color: #fff;
        border: 1px solid #dee2e6;
        border-radius: 50%;
        width: 30px;
        height: 30px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      #submit-button i {
        font-size: 1rem;
        color: #000;
      }
      #submit-button:hover {
        background-color: #f8f9fa;
      }

      .page-loading {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-transition: all .4s .2s ease-in-out;
        transition: all .4s .2s ease-in-out;
        background-color: #fff;
        opacity: 0;
        visibility: hidden;
        z-index: 9999;
      }
      [data-bs-theme="dark"] .page-loading {
        background-color: #0b0f19;
      }
      .page-loading.active {
        opacity: 1;
        visibility: visible;
      }
      .page-loading-inner {
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        text-align: center;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        -webkit-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out;
        opacity: 0;
      }
      .page-loading.active > .page-loading-inner {
        opacity: 1;
      }
      .page-loading-inner > span {
        display: block;
        font-size: 1rem;
        font-weight: normal;
        color: #9397ad;
      }
      [data-bs-theme="dark"] .page-loading-inner > span {
        color: #fff;
        opacity: .6;
      }
      .page-spinner {
        display: inline-block;
        width: 2.75rem;
        height: 2.75rem;
        margin-bottom: .75rem;
        vertical-align: text-bottom;
        border: .15em solid #b4b7c9;
        border-right-color: transparent;
        border-radius: 50%;
        -webkit-animation: spinner .75s linear infinite;
        animation: spinner .75s linear infinite;
      }
      [data-bs-theme="dark"] .page-spinner {
        border-color: rgba(255,255,255,.4);
        border-right-color: transparent;
      }
      @-webkit-keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
      @keyframes spinner {
        100% {
          -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
        }
      }
    </style>

    <script>
      (function () {
        window.onload = function () {
          const preloader = document.querySelector('.page-loading');
          preloader.classList.remove('active');
          setTimeout(function () {
            preloader.remove();
          }, 1000);
        };
      })();
    </script>

    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-WKV3GT5');
    </script>
  </head>


  <body>
    
  <span class="screen-darken"></span>
  <div class="loader simple-loader animate__animated animate__fadeOut d-none">
     <div class="loader-body">
        <img src="https://templates.iqonic.design/streamit/html/frontend/assets/images/loader.gif" alt="loader" class="img-fluid " width="300">
      </div>
  </div>

    <main class="main-content">
      <section class="container pt-5">
      <div class="row">

      <!-- Sidebar (User info + Account menu) -->
      <aside class="col-lg-3 col-md-4 border-end pb-5 mt-n5">
        <div class="position-sticky top-0">
          <div class="text-center pt-5">
            <div class="d-table position-relative mx-auto mt-2 mt-lg-4 pt-5 mb-3">
            
            <% user_profile = UserProfile.find(session[:user_id]) %>
            <%= form_with(model: user_profile, html: { id: "user-profile-form", multipart: true }) do |form| %>
            
              <div class="mt-md">
                <% if user_profile.avatar.attached? %>
                  <%= image_tag(user_profile.avatar, width: "120", class: "d-block rounded-circle", id: "avatar_preview", data: { target: "avatar" }) %>
                <% else %>
                  <img src="<%= image_path('unknown.jpg') %>" alt="Sorry, something went wrong" class="d-block rounded-circle" width="120" id="avatar_preview" data: { target: "avatar" }>
                <% end %>
              </div>
            
              <%= form.file_field :avatar, id: "avatar_input", class: "d-none" %>
              <!--
              <div>
                <%#= form.submit "✓", id: "submit-button", class: "btn btn-icon btn-light bg-white btn-sm border rounded-circle shadow-sm position-absolute bottom-0 end-0 mt-4" %>
              </div>
              -->
            <% end %>

            </div>
            <h2 class="h5 mb-1"><%= user_profile.nickname %></h2>
            <p class="mb-3 pb-3"><%= user_profile.user.email %></p>
            <button type="button" class="btn btn-secondary w-100 d-md-none mt-n2 mb-3" data-bs-toggle="collapse" data-bs-target="#account-menu">
              <i class="bx bxs-user-detail fs-xl me-2"></i>
              <%= t("p.Account_menu") %>
              <i class="bx bx-chevron-down fs-lg ms-1"></i>
            </button>
            <div id="account-menu" class="list-group list-group-flush collapse d-md-block">
              <ul style="list-style-type: none;">
              <li>
                <%= link_to edit_user_profile_path(user_profile), class: "list-group-item list-group-item-action d-flex align-items-center", style: "text-decoration: none;" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle  fs-xl opacity-60 me-2" viewBox="0 0 16 16">
                    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                  </svg>
                  <%= t("heading.User_Profile") %>
                <% end %>
              </li>
              <li>
                <%= link_to user_histories_path, class: "list-group-item list-group-item-action d-flex align-items-center", style: "text-decoration: none;" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hourglass-split fs-xl opacity-60 me-2" viewBox="0 0 16 16">
                    <path d="M2.5 15a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1 0-1h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1zm2-13v1c0 .537.12 1.045.337 1.5h6.326c.216-.455.337-.963.337-1.5V2zm3 6.35c0 .701-.478 1.236-1.011 1.492A3.5 3.5 0 0 0 4.5 13s.866-1.299 3-1.48zm1 0v3.17c2.134.181 3 1.48 3 1.48a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351z"/>
                  </svg>
                  <%= t("heading.History") %>
                <% end %>
              </li>
              <li>
                <%= link_to user_likes_path, class: "list-group-item list-group-item-action d-flex align-items-center", style: "text-decoration: none;" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart-fill fs-xl opacity-60 me-2" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15-7.534 4.736 3.562-3.248 8 1.314"/>
                  </svg>
                  <%= t("heading.Favourites") %>
                <% end %>
              </li>
              <li>
                <%= link_to user_watch_laters_path, class: "list-group-item list-group-item-action d-flex align-items-center", style: "text-decoration: none;" do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clock-history fs-xl opacity-60 me-2" viewBox="0 0 16 16">
                    <path d="M8.515 1.019A7 7 0 0 0 8 1V0a8 8 0 0 1 .589.022zm2.004.45a7 7 0 0 0-.985-.299l.219-.976q.576.129 1.126.342zm1.37.71a7 7 0 0 0-.439-.27l.493-.87a8 8 0 0 1 .979.654l-.615.789a7 7 0 0 0-.418-.302zm1.834 1.79a7 7 0 0 0-.653-.796l.724-.69q.406.429.747.91zm.744 1.352a7 7 0 0 0-.214-.468l.893-.45a8 8 0 0 1 .45 1.088l-.95.313a7 7 0 0 0-.179-.483m.53 2.507a7 7 0 0 0-.1-1.025l.985-.17q.1.58.116 1.17zm-.131 1.538q.05-.254.081-.51l.993.123a8 8 0 0 1-.23 1.155l-.964-.267q.069-.247.12-.501m-.952 2.379q.276-.436.486-.908l.914.405q-.24.54-.555 1.038zm-.964 1.205q.183-.183.35-.378l.758.653a8 8 0 0 1-.401.432z"/>
                    <path d="M8 1a7 7 0 1 0 4.95 11.95l.707.707A8.001 8.001 0 1 1 8 0z"/>
                    <path d="M7.5 3a.5.5 0 0 1 .5.5v5.21l3.248 1.856a.5.5 0 0 1-.496.868l-3.5-2A.5.5 0 0 1 7 9V3.5a.5.5 0 0 1 .5-.5"/>
                  </svg>
                  <%= t("heading.Watch_Later") %>
                <% end %>
              </li>
              <li>
                <%= button_to destroy_user_session_path, method: :delete, class: "list-group-item list-group-item-action d-flex align-items-center", style: "text-decoration: none;" do %>
                  <i class="bx bx-log-out fs-xl opacity-60 me-2"></i>
                  <%= t("buttons.sign_out") %>
                <% end %>
              </li>
              </ul>
            </div>
          </div>
        </div>
      </aside>


        <!-- Account details -->
        <div class="col-md-8 offset-lg-1 pb-5 mb-2 mb-lg-4 pt-md-5 mt-n3 mt-md-0">
          <div class="ps-md-3 ps-lg-0 mt-md-2 py-md-4">
            <h1 class="h2 pt-xl-1 pb-3"><%= t("heading.Watch_Later") %></h1>

            <div class="container-fluid">       
            <div class="card-style-grid">
            <div class="row row-cols-xl-4 row-cols-md-2 row-cols-1">

                <% @user_watch_laters.each do |user_watch_later| %>
                  <div class="col mb-4">
                      <div class="block-images position-relative w-100">
                        <div class="img-box w-100">
                          <a href="<%= film_path(user_watch_later.film) %>" class="position-absolute top-0 bottom-0 start-0 end-0"></a>
                          <%= link_to image_tag("films/#{user_watch_later.film.title}.jpg", height: "330"), film_path(user_watch_later.film) %>
                        </div>
                    </div>
                  </div>
                <% end %>
              </div>
                    </div>
                </div>
            </div>
        </div>
          </div>
        </div>
</section>
</main>


<!-- Back to top button -->
<a href="#top" class="btn-scroll-top" data-scroll="">
<span class="btn-scroll-top-tooltip text-muted fs-sm me-2">Top</span>
<i class="btn-scroll-top-icon bx bx-chevron-up"></i>
</a>


<!-- Vendor Scripts -->
<script src="https://silicon.createx.studio/assets/vendor/cleave.js/dist/cleave.min.js"></script>

<!-- Main Theme Script -->
<script src="https://silicon.createx.studio/assets/js/theme.min.js"></script>

</body>

</html>