<div id="<%= dom_id cast %>">
  <p>
    <strong>First name:</strong>
    <%= cast.first_name %>
  </p>

  <p>
    <strong>Last name:</strong>
    <%= cast.last_name %>
  </p>

  <p>
    <strong>Date of birth:</strong>
    <%= cast.date_of_birth %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= cast.description %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= cast.role_id %>
  </p>

</div>
